@font-face {
    font-family: "Original";
    src: url(./ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}

h1{
    font-family: "Original";
    font-size: 40px;
    font-weight: bolder;
    color: green;
}

a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bolder;
    font-size: 40px;
}